<md-sidenav-layout>
  <md-sidenav align="end" mode="side" opened #sidenav>
    <md-toolbar color="accent">
      <button md-icon-button (click)="sidenav.close()">
        <md-icon>chevron_right</md-icon>
      </button>  
      <span class="example-fill-remaining-space"></span>
    </md-toolbar>

    <md-card>
    <p> Info to come </p>
    </md-card>
    
  </md-sidenav>

  <md-toolbar color="accent">
    <button routerLink="overview" md-button>Overview</button>
 <!--    <button md-button>Deadlines</button>
    <button md-button>Goals</button>
    <button md-button>Attained</button> -->
    <button routerLink="learningexperiences" md-button>Learning Experiences</button>
    <span class="example-fill-remaining-space"></span>

    <button *ngIf="!sidenav.opened" md-icon-button (click)="sidenav.open()">
      <md-icon>chevron_left</md-icon>
    </button>
  </md-toolbar>

  <router-outlet></router-outlet>
  


</md-sidenav-layout>











