<md-toolbar color="primary">
  <span> <a routerLink="/">Rond</a></span>

<button md-icon-button [md-menu-trigger-for]="menu">
   <md-icon>account_circle</md-icon>
</button>

</md-toolbar>

<md-menu #menu="mdMenu">

    <button *ngIf="authenticated" md-menu-item > Signed in as {{authenticated.auth.displayName}} </button>
    <button *ngIf="!authenticated" md-menu-item (click)="login()"> Sign In </button>
    <button md-menu-item routerLink="user"> Your Profile </button>
    <button md-menu-item> Your Learning Experiences </button>
    <button md-menu-item (click)="logout()"> Sign Out </button>
</md-menu>

<router-outlet></router-outlet>