<md-sidenav-layout>
	<md-sidenav align="end" mode="side" opened #sidenav>
		<button md-raised-button (click)="sidenav.close()" color="accent">CLOSE</button>
		<md-tab-group>
			<md-tab style="padding: 20px;">
				<template md-tab-label>Learning Experiences</template>
				<trk-forms></trk-forms>
			</md-tab>
			<md-tab>
				<template md-tab-label>Other Details</template>
		
			</md-tab>
			<md-tab>
				<template md-tab-label>Very Other Details</template>
	
			</md-tab>
		</md-tab-group>
	</md-sidenav>
<trk-user-list [sidenav]="sidenav"></trk-user-list>
</md-sidenav-layout>