<md-sidenav-layout>
  <md-sidenav align="end" mode="side" opened #sidenav>
    <md-toolbar color="accent">
      <button md-icon-button (click)="sidenav.close()">
        <md-icon>chevron_right</md-icon>
      </button>  
      <span class="example-fill-remaining-space"></span>
    </md-toolbar>

    <md-card>
      <md-card-title-group>
        <img md-card-sm-image src="{{authenticated.auth.photoURL}}">
        <md-card-title>{{authenticated.auth.displayName}}</md-card-title>
        <md-card-subtitle>{{authenticated.auth.email}}</md-card-subtitle>
      </md-card-title-group>
    </md-card>
  </md-sidenav>

  <md-toolbar color="accent">Profile
    <button md-button>Button 1</button>
    <button md-button>Button 2</button>
    <span class="example-fill-remaining-space"></span>

    <button *ngIf="!sidenav.opened" md-icon-button (click)="sidenav.open()">
      <md-icon>chevron_left</md-icon>
    </button>
  </md-toolbar>

  <md-card>
    <form [formGroup]="form">
    <!-- <md-input  placeholder="Year Level" style="width: 100%"></md-input> -->
    <p>Year Level = {{form.value.yearLevel}}</p>
    <md-slider formControlName="yearLevel" placeholder="Year Level" value="9" min="9" max="13"></md-slider>

    <md-textarea style="width: 100%" formControlName="learningIntention"  placeholder="Learning Intention" value=""></md-textarea>

    <md-textarea style="width: 100%" formControlName="description" placeholder="Description" value=""></md-textarea>

    <md-input formControlName="learningStatus"  placeholder="Learning Status" style="width: 100%"></md-input>
 
    </form>
  </md-card>
  


{{ form.value |  json }}

{{ authenticated.auth | json }}

{{ authenticated.auth | json }}

</md-sidenav-layout>











